<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products </title>
</head>
<body>
    <h2> Product Information </h2>
    <nav>
        <a href="/cybercom/php/ecom_portal/Public/Admin/Products/add"> Add Product</a>
        <a href="/cybercom/php/ecom_portal/Public/Admin/"> BACK </a>

    </nav>

    <table border="1">
        <tr>
            <th>ProductId </th>
            <th>Product Name</th>
            <th>Product Image</th>
            <th>Price </th>
            <th>status </th>

            <th colspan="2">Actions</th>
        </tr>
        {% for singleProduct in allProduct %}
            <tr>
                <td>{{ singleProduct.productId}}</td>
                <td>{{ singleProduct.productName }} </td>
                <td><img src="../{{singleProduct.productImage}}" alt="{{singleProduct.productImage}}"
                                height="80px" width="100px" ></td>
                <td>{{ singleProduct.price }}</td>
                <td>{{ singleProduct.status }}</td>
                <td><a href="/cybercom/php/ecom_portal/Public/Admin/Products/{{ singleProduct.productId }}/editProduct"> edit</a></td>
                <td><a href="/cybercom/php/ecom_portal/Public/Admin/Products/{{ singleProduct.productId }}/deleteUser">delete </a></td>
            </tr>    
        {% endfor %}
    </table>

</body>
</html>    