{% extends "base.html" %}

{% block body %}
{% set baseUrl = '/cybercom/php/ecom_portal/Public' %} 

<div id="singleProduct" style="margin-left: 30%;";">
    <h2>{{singleProduct.productName}}</h2>
    <img src="../../{{singleProduct.productImage}}" alt="" height="200px" width="200px">
    <p>Price : {{singleProduct.price}}</p>
    <p>Description : {{singleProduct.shortDesc}}</p>
    <p>Quantity : 
        <input type="number" id="quantity" min="1" max="{{singleProduct.stock}}"></p>
        <button id="addToCart" value="ADD TO CART">ADD TO CART</button>
        
        <script type="text/javascript">
            
            $("#addToCart").click(
                function(){
                    var quant = $("#quantity").val();
                    var pId = "{{singleProduct.productId}}";
                    var userId = "{{session.userId}}";
                    formData = {productId : pId, userId : userId , quantity : quant };
                    $.ajax({
                        url: '{{baseUrl}}/userCart/addToCart',
                        method : "POST",
                        dataType : "json",
                        data : formData,

                        success : function(cartData) {
                            console.log(cartData);
                            var data = `<tr>
                                            <th scope="col"></th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Qty</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Actions</th>
                                        </tr>`;
                            for(i in cartData) {
                                var product = cartData[i];
                                    data += `<tr>`;
                                    data += `<td class='w-25'>`;
                                    data += `<img src='../../${product.productImage}' class='img-fluid img-thumbnail' alt='' 
                                                    height='100px' width="120px">`;
                                    data += `</td>`;
                                    data += `<td> ${product.productName} </td>`;
                                    data += `<td> ${product.price} </td>`;
                                    data += `<td class="qty"><input type='text' max='2' class='form-control' id='input1' value='${product.quantity}'></td>`;
                                    data += `<td>${product.price * product.quantity}</td>`;
                                    data += `<td> 
                                                <a href="#" class="btn btn-danger btn-sm">
                                                <i class="fa fa-times"> X </i>
                                            </a> </td>`;
                                    data += `</tr>`;

                            }
                            $("#cart-data").html(data);
                            $("#cartModal").modal('show');
                        }
                    })
                }); 
        </script>

        <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">
                    Your Shopping Cart
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                
                    <table class="table table-image" id="cart-data">
                
                    </table>
                <div class="d-flex justify-content-end">
                    <h5>Total: <span class="price text-success">89$</span></h5>
                </div>
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Checkout</button>
                </div>
            </div>
            </div>
            </div>
</div>

{% endblock %}