{% extends "base.html" %}

{% block body %}
{% set baseUrl = '/cybercom/php/ecom_portal/Public' %} 

<div id="singleProduct" style="margin-left: 30%;";">
    <h2>{{singleProduct.productName}}</h2>
    <img src="../../{{singleProduct.productImage}}" alt="" height="200px" width="200px">
    <p>Price : {{singleProduct.price}}</p>
    <p>Description : {{singleProduct.shortDesc}}</p>
    <p>Quantity : 
        <input type="number" id="quantity" min="1" max="{{singleProduct.stock}}"></p>
        <button id="addToCart" value="ADD TO CART">ADD TO CART</button>
        
        <script type="text/javascript">
            
            $("#addToCart").click(
                function(){
                    var quant = $("#quantity").val();
                    var pId = "{{singleProduct.productId}}";
                    var userId = "{{session.userId}}";
                    formData = {productId : pId, userId : userId , quantity : quant };
                    $.ajax({
                        url: '{{baseUrl}}/userCart/addToCart',
                        method : "POST",
                        dataType : "json",
                        data : formData,

                        success : function(msg) {
                           alert(msg);
                        }
                    });
                }); 
        </script>

       
</div>

{% endblock %}