h5 {
    float: right;
}
h2{
    text-align: center;
}
table {
    margin-left: 30%;
    width: 40%;
}
ul li{
    display: inline;
    padding: 20px;
    font-size: 20px;
}
ul li a {
    text-decoration: none;
}