<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} {% endblock %} </title>
    <style>
        span {
            color: red;
        }
        nav a {
            padding: 15px;
            font-size: 20px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/cybercom/php/MVC/Public/"> Home </a> 
        <a href="/cybercom/php/MVC/Public/Register/registerForm"> Add User </a> 
        <a href="/cybercom/php/MVC/Public/Register/showUser"> Show Users </a>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>