{% extends "base.html" %}

{% block body %}
{% set baseUrl = '/cybercom/php/ecom_portal/Public' %} 

<div id="catData">
    <h2>{{catData.categoryName}}</h2>
</div>
<div id="productData" > 
     {% for product in productData %}
         <div id="product" style="display: inline-block; padding: 40px;">
            <div id="img">
                <a href="{{baseUrl}}/productView/View/{{product.urlKey}}">
                <img src="../../{{product.productImage}}" alt="" height="120px" width="120px" > 
                </a>
            </div>
            <div>Name :{{ product.productName}}</div>
            <div>Desc :{{ product.productDesc }}</div> 
            <div>Quantity :{{ product.stock }}</div> 
        </div>
     {% endfor %}
</div>

{% endblock %}