span {
    color: red;
}
nav a {
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
}
label {
    display: inline-block;
    padding: 5px;
    width: 150px;
}
input[type='submit']{
    margin-left: 25%;
    margin-top: 20px;
}
form{
    width: 500px;
}