<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <h1> Login </h1>
    <form action="dashboard" method="POST"> 
        <div class="userEmail">
            <label>User Email</label>
            <input type="text" name="userEmail">
        </div>
        <div class="password">
            <label for="">Password </label>
            <input type="password" name="password">
        </div>
        <div class="submit">
            <input type="submit" value="LOGIN" name="login">
        </div>
    </form>

</body>
</html>
    