{% extends "base.html" %}

{% block title %} {{pageData.pageTitle}} {% endblock %}

{% block body %}
    <nav>
        {% for cat in categoryList %}
            <select>
                <a href="{{cat.parentUrlKey}}" ><option>{{ cat.parentCatName }}</option></a>
                {% set childList = cat.childCatName | split(",") %}
                {% set childUrlList = cat.childUrlKey | split(",") %}
                {% for child in childList %}
                    {% for childUrl in childUrlList %}
                         <a href="{{childUrl}}" ><option> {{ child }}</option></a>
                    {% endfor %}
                {% endfor %}
            </select>
        {% endfor %}
    </nav>
    <!-- <nav>
        {% for cat in categoryList %}
            <a href="/cybercom/php/ecom_portal/Public/"> {{cat.categoryName}} </a> 
        {% endfor %}
    </nav> -->
    <h3>Welcome </h3>
    <h2> pageId : {{pageData.pageId}}</h2>
   <h2>Content : {{pageData.content}}</h2> 
   
   <nav>
        {% for page in pageList %}
            <a href="/cybercom/php/ecom_portal/Public/{{page.urlKey}}"> {{page.pageTitle}} </a> 
        {% endfor %}
    </nav>
{% endblock %}
