{% extends "base.html" %}

{% block title %} Login Form {% endblock %}

{% block body %}

{% set baseUrl = '/cybercom/php/vehicleRegistration/Public' %} 
<h1>Welcome {{session.userId}}</h1>

<form action="{{baseUrl}}/Vehicle/serviceRegistration" method="POST">
    <input type="submit" value="SERVICE REGISTRATION">
    <a href="{{baseUrl}}/Users/userLogout">LOGOUT</a>
</form>
<br><br>

{% if serviceData|length != 0 %}
<table border="1">
    <tr>
        <th>ServiceId </th>
        <th>Title</th>
        <th> date</th>
        <th> Time Slot </th>
        <th> Status </th>
    </tr>
    {% for service in serviceData %}
        <tr>
            <td>{{ service.serviceId}}</td>
            <td>{{ service.title }} </td>
             <td>{{ service.date }} </td>
             <td>{{ service.timeSlot }} </td>

            <td>{{ service.status }} </td>
            </tr>    
    {% endfor %}
</table>
{% endif %}

{% endblock %}