{% extends "base.html" %}

{% block title %} Login Form {% endblock %}

{% block body %}

{% set baseUrl = '/cybercom/php/vehicleRegistration/Public' %} 
<h1>Welcome {{session.userId}}</h1>

<form action="/cybercom/php/vehicleRegistration/Public/Vehicle/serviceRegistration" method="POST">
    <input type="submit" value="SERVICE REGISTRATION">
    <a href="/cybercom/php/vehicleRegistration/Public/Vehicle/showData">SHOW SERVICES</a><br>
    <a href="/cybercom/php/vehicleRegistration/Public/Users/userLogout">LOGOUT</a>
</form>
<!-- <button onclick="registerService()">SERVICE REGISTRATION</button> -->
<br><br>
    <div id="form"></div>
<!--     
<script>
    function registerService() {
            $.ajax({url:'/cybercom/php/vehicleRegistration/Public/Vehicle/serviceRegistration',
                    
					success: function(form){
                        $("#form").html(form);
					}});
        }
    
</script> -->

{% if serviceData|length != 0 %}
<table border="1">
    <tr>
        <th>ServiceId </th>
        <th>Title</th>
        <th> date</th>
        <th> Time Slot </th>
        <th> Status </th>
    </tr>
    {% for service in serviceData %}
        <tr>
            <td>{{ service.serviceId}}</td>
            <td>{{ service.title }} </td>
             <td>{{ service.date }} </td>
             <td>{{ service.timeSlot }} </td>

            <td>{{ service.status }} </td>
            </tr>    
    {% endfor %}
</table>
{% endif %}

{% endblock %}